@model Dinamico.Models.ContentPart

@{
	Content.Define(ie =>
		{
			ie.Title = "Logotype";
			ie.IconUrl = "{IconsUrl}/pictures.png";
		});
	string uniqueId = Html.UniqueID("cs");
}
@using (Content.BeginScope(Content.Traverse.StartPage))
{
	<a id="logo" href="@Content.Current.Item.Url" title="@Content.Current.Item.Title"><img src="@Content.Data.Logotype" style="width: 50%;" border="0" /></a>
}