@model Dinamico.Models.ContentPage
@section BodyLayoutReplacementRows
{
            <!-- hero unit -->
            <div class="row" id="heroUnitRow">
                <div class="col-xs-12 centered" id="heroUnitCell">
                    @{ Html.DroppableZone("Hero").Render(); }
                </div>
            </div>
            <!-- /hero unit -->
            
            
            <div class="row">
            
            
                <!-- sub-navigation -->
                <div class="col-sm-2">
                    @{ Html.RenderPartial("_RightNavShared");}
                </div>
                <!-- /sub-navigation --> 
            

                <!-- main content-->
                <div class="col-sm-8">
                    @Content.Render.Tokens("Text").Wrap(@<div id="content">@item.RenderContents()</div>)
                    @{ Html.DroppableZone("Body").Render(); }
                </div>
                <div class="col-sm-2">
                    @{ Html.DroppableZone("Gutter").Render(); }
                    @{ Html.DroppableZone("RecursiveGutter").Render(); }
                    @{ Html.DroppableZone("GutterBelow").Render(); }
                </div>
                <!-- /main content -->



            </div><!-- /row -->
}