@model Dinamico.Models.ContentPage

@section BodyLayoutReplacementRows 
{
        <!-- hero unit -->
        <div class="row" id="heroUnit">
            <div class="col-xs-12 centered">
                @{ Html.DroppableZone("Hero").Render(); }
            </div>
        </div>
        <!-- /hero unit -->
            
            
        <div class="row">
            
            <!-- sub-navigation -->
            <div class="col-sm-2">
                @{ Html.RenderPartial("_RightNavShared");}
            </div>
            <!-- /sub-navigation --> 
            


            <!-- main content-->
            <div class="col-sm-10">
                @Content.Render.Tokens("Text").Wrap(@<div id="content">@item.RenderContents()</div>)
                @{ Html.DroppableZone("Body").Render(); }
            </div>
            <!-- /main content -->


        </div><!-- /row -->
}